.terraform
.terraform.tfstate.lock.info
.terraform*
.terraformrc
.vscode/
*_override.tf
*_override.tf.json
*.backup
*.pem
*.swo
*.swp
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/.terraform/*
crash.*.log
crash.log
override.tf
override.tf.json
registry.terraform.io/
terraform-provider-*
terraform.plan
terraform.rc
terraform.tfstate
tmp.userdata